@{
    ViewData["Title"] = "DeleteLibrary";
}

<h1>Delete Libraries</h1>

@foreach (var item in Model)
{
    <book-list list-title="@item.ListTitle" list-description="@item.ListDescription" list-id="@item.Id"></book-list>
    foreach (var book in item.Books)
    {
        <book-s book-title="@book.BookTitle" book-author="@book.BookAuthor"></book-s>
    }
    <form asp-action="DeleteBookList" asp-controller="Home" method="post">
        <input type="hidden" name="listId" value="@item.Id" />
        <button id="deleteLibraryButton">Delete</button>
    </form>
}